@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    display: flex;
    height: 1080px;
    align-items: center;
    justify-content: center;
    background-color: #EE82EE;
}

.container{
    width: 320px;
    height: auto;
    border-radius: 16px;
    background: #fff;
}

.searchInput{
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: center;
}

